.nav {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 120px;
  position: relative;
}

.nav-logo img {
  max-width: 200px;
  max-height: 100px;
}

.nav-link {
  color: black;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  border-radius: 12px;
  cursor: pointer;
  &:hover {
    color: #b6b6b6;
  }
  &.active {
      color: #686868;
  }
}

.bars {
  display: none;
  color: #808080;
  @media screen and (max-width: 768px) {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 75%);
      font-size: 1.8rem;
      cursor: pointer;
  }
}

.nav-menu {
  display: flex;
  align-items: center;
  @media screen and (max-width: 768px) {
      display: none;
  }
}

.nav-signup {
  display: flex;
}

.logged-in {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 110px;
  font-weight: 600;
}

.nav-user  {
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
}

.nav-user span {
  margin-right: 0px;
}

.logged-in span {
  margin-right: 8px;
}

.logged-in button {
  background: none;
  border: none;
  text-align: center;
  font-size: 16px;
  padding: 0px;
  &:hover {
    color: #324fe1;
  }
}

.nav-link-divider {
  margin-left: -9px;
  margin-right: -8px;
}

.dark-mode {
  margin-left: -100px;
}

