.home-stock {
  display: flex;
  padding: 50px;
  margin-top: -25px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}

.search-form {
  display: flex;
  position: relative;
  margin-right: 30px;
}

.search-form input {
  width: 600px;
  padding: 9px 20px;
  border: 2px solid #686868;
  border-radius: 5px;
  outline: none;
  @media screen and (max-width: 768px) {
    width: 500px;
  }
}

.search-button {
  font-size: 16px;
  position: absolute;
  top: 65%;
  right: 5px;
  transform: translateY(-60%);
  border: none;
  padding: 5px 10px;
  background-color: transparent;
  border-radius: 20px;
  cursor: pointer;  
}

